@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
  font-family: "Satoshi-Ex"; 
  src: url('../fonts/MonumentExtended-Regular.woff2'); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: "Satoshi"; 
  src: url('../fonts/Satoshi-Regular.woff2'); 
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: "Satoshi"; 
  src: url('../fonts/Satoshi-Medium.woff2'); 
  font-weight: medium; 
  font-style: normal; 
}
@font-face { 
  font-family: "Satoshi"; 
  src: url('../fonts/Satoshi-Bold.woff2'); 
  font-weight: bold; 
  font-style: normal; 
}

*{
  box-sizing: border-box;
  font-family: "Satoshi";
}
:root {
  --white-color:#fff;
  --white-background:#fff;
  --black-color:#000;
  --black-background:#000;
  --purple-color:#AB23FF;
  --regular-font-ex:'Satoshi-Ex';
  --regular-font:'Satoshi';
  --line-color:rgb(30,30,30);
  --main-width:1100px;
  --gray-background:#13171D;
  
}

@media (prefers-color-scheme: dark) {
  
}


@layer components{
  .main-width{
    width:var(--main-width) !important;
  }
  .notice{
    @apply bg-black text-purple-500 rounded-lg relative;
    padding:3px 8px;
    top:-10px;
  }
  .menu{
    @apply flex bg-white rounded-md justify-center items-center text-lg lg:hidden; 
    width:35px;
    height:35px;
  }
  .menu-2{
    @apply flex bg-blue-700 text-white rounded-md justify-center items-center text-lg; 
    width:35px;
    height:35px;
  }
  .container{
    @apply w-screen h-screen relative lg:fixed lg:w-fit lg:h-fit
  }
  .hide-ham{
    @apply flex-col top-0 left-0 z-50;  

  }
  .show-ham{
    @apply flex-row top-0;
  }
  .cover::after{
    content:"";
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index: 1;
    background:linear-gradient(to bottom,rgba(187, 170, 204,.1)
    ,rgba(61, 139, 255,.15),rgba(0,0,0,.9));
  }
  .cover2::after{
    content:"";
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index: 1;
    background:linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,.5),rgba(0,0,0,.2));
  }

  .top-gradient-text{
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .top-gradient-text::before,.top-gradient-text::after{
    content:'';
    display: block;
    width:100%;
    height:1px;
    background:linear-gradient(to right, #3D8BFF,#AB23FF) ;
    margin:0;
  }

  .gradient-text{
    @apply bg-gradient-linear;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .banner-bottom{
    bottom:4.3em;
    @media screen and (width <= 840px){
      bottom:1em;
    }
  }


  .list-grid::before{
    @apply absolute text-xs right-3;
    content:'COMING SOON';
    padding:5px 10px;
    border-radius: 8px;
    top:-15px;
    background-color:var(--white-background);
    color:var(--black-color);
  }

  .blur{
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(1.9px);
    -webkit--backdrop-filter: blur(1.9px);
  }
  
}


body {
  background-color: var(--black-background);
  margin:0;
  padding:0;
  overflow-x: clip;
  overflow-y: auto;
}

body::-webkit-scrollbar{
  width:5px;
}
body::-webkit-scrollbar-track {
  background: var(--black-background);
}
body::-webkit-scrollbar-thumb {
  background: var(--purple-color);
}

*:not(body)::-webkit-scrollbar{
  width:0px;
}


@media screen and (width <=1150px) {
    :root{
      --main-width:100%;
    }
}
