@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-color:#fff;
  --white-background:#fff;
  --black-color:#000;
  --black-background:#000;
}

@media (prefers-color-scheme: dark) {
  
}

body {
  margin:0;
  padding:0;
}
